### Copyright 2004-2006 Gentoo Foundation
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title><TMPL_VAR name></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="image/x-icon" href="favicon.ico" rel="shortcut icon">
<link rel="stylesheet" href="alternativa.css" type="text/css">
<link rel="alternate" type="application/rss+xml" title="<TMPL_VAR name ESCAPE="HTML">" href="http://feeds.feedburner.com/BlogsDeAlternativa">
<link rel="alternate" type="application/atom+xml" title="<TMPL_VAR name ESCAPE="HTML">" href="http://feeds.feedburner.com/BlogsDeAlternativa">
</head>

<body>
<table cellpadding="0" cellspacing="0" width="100%" border="0">
<tbody><tr>

### Gentoo logo

</tr>
<tr>

### Subscriptions list down left menu
<td class="leftmenu">

<p align="center">
<img src="http://www.planetalinux.org/images/banderas/alternativa.png">
</p>
<br><br>

<div class="altmenu"><b>Colaboradores:</b><br>
<TMPL_LOOP Channels>
. <a class="altlink" href="<TMPL_VAR link ESCAPE="HTML">" title="<TMPL_VAR title ESCAPE="HTML">"><TMPL_VAR name></a><br>
</TMPL_LOOP>

<br><br><div align="center">
<a href="http://feeds.feedburner.com/BlogsDeAlternativa">
<img src="http://planet.gentoo.org/images/rss20.png" border="0" alt="Syndicate this Planet">
</a><br>
<a href="opml.xml">
<img src="http://planet.gentoo.org/images/opml.png" border="0" alt="Blogroll">
</a><br>
</div>

<br><br><div>
<b>Blogs de Alternativa</b> es un compendio de blogs de simpatizantes del <a href="http://www.alternativa.org.mx">Partido
Alternativa Socialdemócrata</a>, actualizado
cada media hora. Las opiniones aquí mostradas son responsabilidad exclusiva de sus autores y no reflejan la opinión
del partido.<br></div>
<br><br>
<div><form style="border:1px solid #ccc;padding:3px;text-align:center;" action="http://www.feedburner.com/fb/a/emailverify" method="post" target="popupwindow" onsubmit="window.open('http://www.feedburner.com', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><p>Escribe tu direcci&oacute;n de correo:</p><p><input type="text" style="width:140px" name="email"/></p><input type="hidden" value="http://feeds.feedburner.com/~e?ffid=592554" name="url"/><input type="hidden" value="Blogs de Alternativa" name="title"/><input type="submit" value="Subscribe" /><p>Suscríbete al Blog de Blogs y recibe las actualizaciones por mail!</p><p>Servicio proporcionado por <a href="http://www.feedburner.com" target="_blank">FeedBurner</a></p></form><p><a href="http://feeds.feedburner.com/BlogsDeAlternativa"><img src="http://feeds.feedburner.com/~fc/BlogsDeAlternativa?bg=DDDAEC&amp;fg=5A3ABA&amp;anim=1" height="26" width="88" style="border:0" alt="" /></a></p>
<p><a href="http://feeds.feedburner.com/BlogsDeAlternativa" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/></a>&nbsp;<a href="http://feeds.feedburner.com/BlogsDeAlternativa" rel="alternate" type="application/rss+xml">Suscr&iacute;bete con un lector de RSS o agr&eacute;ganos a los Live Bookmarks de </a><a href="http://getfirefox.com">Firefox</a></p>
<p><a href="http://fusion.google.com/add?feedurl=http://feeds.feedburner.com/BlogsDeAlternativa"><img src="http://buttons.googlesyndication.com/fusion/add.gif" width="104" height="17" style="border:0" alt="Agréganos a tu Google Reader o Google Homepage"/></a></p>
<p><a href="http://add.my.yahoo.com/rss?url=http://feeds.feedburner.com/BlogsDeAlternativa" title="Blogs de Alternativa"><img src="http://us.i1.yimg.com/us.yimg.com/i/us/my/addtomyyahoo4.gif" alt="Agréganos a tu página de MyYahoo!" style="border:0"/></a></p>
<p><a href="http://feeds.my.aol.com/add.jsp?url=http://feeds.feedburner.com/BlogsDeAlternativa"><img src="http://myfeeds.aolcdn.com/vis/myaol_cta1.gif" alt="Agréganos a tu My AOL" style="border:0"/></a></p>
<p>¿Te gustaría agregar los últimos encabezados de la Red Alternativa de Blogs a tu sitio?</p><p style="margin-top:10px; margin-bottom:0; padding-bottom:0; text-align:center; line-height:0"><a href="http://feeds.feedburner.com/~r/BlogsDeAlternativa/~6/1"><img alt="Blogs de Alternativa" style="border:0" src="http://feeds.feedburner.com/BlogsDeAlternativa.1.gif"/></a></p><p style="margin-top:5px; padding-top:0; font-size:x-small; text-align:center"><a href="http://www.feedburner.com/fb/a/headlineanimator/install?id=592554&amp;w=1" target="_blank" onclick="window.open(this.href, 'haHowto', 'width=520,height=600,toolbar=no,address=no,resizable=yes,scrollbars'); return false">&uarr; ¡Utiliza &eacute;ste display!</a></p></div>
<br><br><div>
Este sitio es mantenido por <a href="http://bubach.blogspot.com">Benjamín Ubach</a> y administrado por <a href="http://www.damog.net/">David Moreno Garza</a>.<br></div>

<br><br><div><b>Usamos <a href="http://www.planetplanet.org/">Planet</a> y formamos parte de la gran familia de <a href="http://www.planetalinux.org">Planeta Linux</a>.</div>
<br/>
<div><a href="http://www.astrata.com.mx">Astrata</a></div>
</div>
</td>

### The actual blog entries
<td class="content">

<TMPL_LOOP Items>
<TMPL_IF new_date><div class="dateheading"><TMPL_VAR new_date></div></TMPL_IF>

<TMPL_IF new_channel>
<div class="personheading">
<span class="personheading">
<a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">"><TMPL_VAR channel_name></a>
</span>
<TMPL_IF channel_username>
a.k.a. <b><TMPL_VAR channel_username></b>
(<a href="http://dev.gentoo.org/~<TMPL_VAR channel_username ESCAPE="HTML">/">homepage</a>,
<a href="http://cia.navi.cx/stats/author/<TMPL_IF channel_cia_username><TMPL_VAR channel_cia_username ESCAPE="HTML"><TMPL_ELSE><TMPL_VAR channel_username ESCAPE="HTML"></TMPL_IF>">stats</a>,
<a href="http://bugs.gentoo.org/buglist.cgi?bug_status=NEW&amp;bug_status=ASSIGNED&amp;bug_status=REOPENED&amp;email1=<TMPL_VAR channel_username ESCAPE="HTML">%40gentoo.org&amp;emailtype1=exact&amp;emailassigned_to1=1&amp;emailreporter1=1">bugs</a>)
</TMPL_IF>
<TMPL_IF channel_project>
 <b>(<TMPL_VAR channel_project ESCAPE="HTML">)</b>
</TMPL_IF>
</div>
</TMPL_IF>

<TMPL_IF title>
<div class="entryheading">
<span class="entryheading"><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></span>
</div>
</TMPL_IF>

<div class="entrycontent"><p>
<!--<TMPL_IF channel_face>
<img class="face" src="images/<TMPL_VAR channel_face ESCAPE="HTML">" width="<TMPL_VAR channel_facewidth ESCAPE="HTML">" height="<TMPL_VAR channel_faceheight ESCAPE="HTML">" alt="<TMPL_VAR channel_name>" align="right">
</TMPL_IF>-->
<TMPL_VAR content>
</p>
<p><script src="http://feeds.feedburner.com/~s/BlogsDeAlternativa?i=<TMPL_VAR link ESCAPE="HTML">" type="text/javascript" charset="utf-8"></script></p>
<TMPL_IF comments>
<p>
<span class="commentlink">
<a href="<TMPL_VAR comments ESCAPE="HTML">">Leave a comment</a>
</span>
</p>

</TMPL_IF>
</div>

</TMPL_LOOP>

</td></tr>

### Copyright notice
<tr><td colspan="2" class="footer">
Gentoo Design, Copyright 2001-2006 Gentoo Foundation, Inc.<br>
</td></tr>
</tbody></table></body></html>
