<?xml version="1.0"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">

<channel>
	<title><TMPL_VAR name></title>
	<link><TMPL_VAR link ESCAPE="HTML"></link>
	<language>es</language>
	<description><TMPL_VAR name ESCAPE="HTML"> - <TMPL_VAR link ESCAPE="HTML"></description>

<TMPL_LOOP Items>
	<TMPL_IF channel_portal
	<TMPL_ELSE>

	<item>
		<title><TMPL_VAR channel_name><TMPL_IF title>: <TMPL_VAR title ESCAPE="HTML"></TMPL_IF></title>
		<guid isPermaLink="false"><TMPL_VAR id ESCAPE="HTML"></guid>
		<link><TMPL_VAR link ESCAPE="HTML"></link>
		<TMPL_IF content>
		<description><TMPL_VAR content ESCAPE="HTML"></description>
		</TMPL_IF>
		<pubDate><TMPL_VAR date_822></pubDate>
		<TMPL_IF author>
		<dc:creator><TMPL_VAR author></dc:creator>
		</TMPL_IF>
	</item>

	</TMPL_IF>
</TMPL_LOOP>

</channel>
</rss>
