    <div id="first" class="inner">
      <h3 id="about">Acerca</h3>
      <p>¡<em>Planeta Linux</em> es una comunidad de latinoamericanos blogueando sobre Linux!</p>
      <p>Si deseas conocer m&aacute;s sobre este proyecto, puedes informarte detalladamente en <a href="http://www.planetalinux.org/faq.php">Acerca de Planeta Linux</a>.</p>
    </div><!--/inner-->

