#twitter_div ul {
 	margin: 5px 10px;
 	list-style-type: none;
 }

#entry-wrap ul li{
 	background: url("../images/mar06/bullet.png") 0 2px no-repeat;
 	padding-left: 20px;
 	line-height: 1.65em;
} 

