body {
	background-color: #000000;
	color: black; 
	font-family: Verdana,sans-serif; 
	font-size: 0.9em;
	margin: 0px 0px 0px 0px;
}


a.highlight:link { color: #00ff00; text-decoration: none; }
a.highlight:visited { color: #00ff00; text-decoration: none; }
a.highlight:hover { color: #00ff00; text-decoration: underline; }
a.highlight:active { color: #00ff00; text-decoration: underline; }

a.menulink:link { color: #a0a0d0; text-decoration: none; }
a.menulink:visited { color: #a0a0d0; text-decoration: none; }
a.menulink:hover { color: #00ff00; text-decoration: underline; }
a.menulink:active { color: #00ff00; text-decoration: underline; }

a.altlink:link { color: #FA0029; text-decoration: none; }
a.altlink:visited { color: #FA0029; text-decoration: none; }
a.altlink:hover { color: #FA0029; text-decoration: underline; }
a.altlink:active { color: #FA0029; text-decoration: underline; }

a { color:#FA0029; text-decoration:none; }

td.logobox {
	background-color: #45347B;
	padding-bottom: 5px;
	vertical-align: top;
}

td.linkbar {
	background-color: #000000;
	padding-bottom: 10px;
	vertical-align: bottom;
}

td.leftmenu {
	vertical-align: top;
	background-color: #DDDAEC;
}

div.dateheading {
	background-color: #FA0029;
	color: #FFFFFF;
	font-size: 1.6em;
	font-weight: bold;
	padding: 3px 3px 3px 5px;
}

div.entryheading {
	background-color: #FFFFFF;
}

span.entryheading {
	font-weight: bold;
	padding-left: 15px;
}

div.entrycontent {
	padding-left: 15px;
	padding-bottom: 10px;
	min-height: 85px;
}

div.entrycontent pre {
	overflow: auto;
}

div.personheading {
	background-color: #FFFFFF;
}

span.personheading {
	font-size: 1.4em;
	font-weight: bold;
	padding-left: 8px;
}

span.commentlink {
	font-style: italic;
}

.menu {
	font-size: 0.9em;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
	color: #c0c0f0;
	padding-left: 1.0em;
	padding-right: 1.0em;
	padding-top: 0.5em;
}

.altmenu {
	font-size: 0.8em;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
	color: #000000;
	padding-left: 2.0em;
	padding-right: 1.0em;
}

td.footer {
	font-size: 0.7em;	
	font-family: Verdana, Arial, Helvetica;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 1.0em;
	margin-left: 1.0em;
	color: #FA0029;
	font-weight: bold;
	width: 100%;
	text-align: right;
	background-color: #FFFFFF;
}

td.content {
	padding: 1.0em 1.0em 0em 1.0em;
	font-family: Verdana, Arial, Helvetica;
	font-size: 0.9em;
	width: 100%;
	vertical-align: top;
	background-color: #FFFFFF;
}

pre {
	padding: 0.5em;
	font-family: Lucida Console, Courier;
	color: #000000;
	font-size: 0.9em;
}

img {
	border: 0px;
	max-width: 500px;
}

div#intro {
	clear: both;
	display: block;
	height: 70px;
}

div#intro img {
	padding-right: 10px;
	float: left;
	vertical-align: top;
}

div#intro p {
	margin: 0;
	padding-top: 20px;
}

pre {
	border-left: 2px double grey;
}
